env:
 - CABALVER=1.18 GHCVER=7.6.3
 - CABALVER=1.18 GHCVER=7.8.4
 - CABALVER=1.22 GHCVER=7.10.1
 - CABALVER=head GHCVER=head
 - ARGS="--resolver lts-5"
 - ARGS="--resolver lts-6"
 - ARGS="--resolver lts-7"
 - ARGS="--resolver lts-8"
 - ARGS="--resolver lts-9"
 - ARGS="--resolver lts"
 - ARGS="--resolver nightly"

matrix:
 allow_failures:
  - env: CABALVER=head GHCVER=head

before_install:
# Download and unpack the stack executable
 - mkdir -p ~/.local/bin
 - export PATH=$HOME/.local/bin:$PATH
 - travis_retry curl -L https://www.stackage.org/stack/linux-x86_64 | tar xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'

install:
 - travis_retry sudo add-apt-repository -y ppa:hvr/ghc
 - travis_retry sudo apt-get update
 - travis_retry sudo apt-get install cabal-install-$CABALVER ghc-$GHCVER
 - export PATH=/opt/ghc/$GHCVER/bin:/opt/cabal/$CABALVER/bin:$PATH
 - cabal --version
 - echo "$(ghc --version) [$(ghc --print-project-git-commit-id 2> /dev/null || echo '?')]"
 - travis_retry cabal update
 - cabal install --only-dependencies --enable-tests --enable-benchmarks

script:
 - script/cibuild
 - stack $ARGS --no-terminal --install-ghc test --haddock


cache:
  directories:
  - $HOME/.stack